USE [master]
GO
/****** Object:  Database [TICKETS]    Script Date: 08/05/2017 16:33:41 ******/
CREATE DATABASE [TICKETS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TICKETS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TICKETS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TICKETS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TICKETS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TICKETS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TICKETS]
GO
USE [TICKETS]
GO
/****** Object:  User [tickets]    Script Date: 08/05/2017 16:33:41 ******/
CREATE USER [tickets] FOR LOGIN [tickets] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tickets]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [tickets]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [tickets]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [tickets]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [tickets]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tickets]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tickets]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [tickets]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [tickets]
GO
/****** Object:  Table [dbo].[Materiais]    Script Date: 08/05/2017 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiais](
	[partnumber] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[supplier] [nvarchar](50) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[issoftware] [bit] NOT NULL,
	[expires] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 08/05/2017 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] NOT NULL,
	[prioridade] [tinyint] NULL,
	[recdate] [datetime] NULL,
	[Requester] [int] NULL,
	[horas] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketRequests]    Script Date: 08/05/2017 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketRequests](
	[Request_ID] [bigint] NULL,
	[Ticket_ID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketStates]    Script Date: 08/05/2017 16:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketStates](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[isFinalState] [bit] NOT NULL,
	[isRejectState] [bit] NOT NULL,
 CONSTRAINT [PK_TicketStates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
