<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectoFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectoFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProjectoFinal.Properties.Settings>
            <setting name="SuperUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="SUpass" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="ServerParameters" serializeAs="String">
                <value>Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>Tickets</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>Tickets</value>
            </setting>
        </ProjectoFinal.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ProjectoFinal.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>(localdb)\MSSQLLocalDB</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>DATA\Tickets.mdf</value>
            </setting>
        </ProjectoFinal.Properties.Settings>
    </applicationSettings>
</configuration>